/**
 * @name Zed-Mono Font
 * @author kxcv
 * @authorId 1113978877010788432
 * @version 1.1
 * @description Cool Zed-Mono Font for Discord
 * @website https://github.com/kkilobyte/zed-font-vencord
 * @invite MUdFYE7vqW
 * **/

@font-face {
  font-family: 'Zed-Mono';
  src: url('https://github.com/kkilobyte/zed-font-vencord/raw/refs/heads/main/zed-mono-regular.ttf');
}

body {
  font-family: 'Zed-Mono', sans-serif;
}
